h1{
    text-align: center;
    color:black;
    background-color: rgb(217, 255, 199);
    line-height: 200%;
    margin-top: 0px;
    margin-bottom: 30px;
}
.titulo {
    text-align: center;
}
.ingredientes {
    background-color: rgba(238, 225, 217, 0.527);
    display: block;
    right: 82%;
    list-style: none;
    margin: 0px 0px 0px 0px;
    padding: 0px;
    position: absolute;
    width: 200px;
    text-align: right;
}
.ingredientes_datos{
    text-align: left;
}
.preparacion_info{
    text-align: left;
}
.preparacion {
    display: block;
    left: 18%;
    list-style: none;
    margin: 0px 0px 0px 0px;
    padding: 0px;
    position: absolute;
    width: 1000px;
    text-align: left;
}